header {
  height: auto;
  margin-bottom:50px;
  width:100%;
}

.cont1 {
  height: auto;
  margin-bottom:50px;
  width:100%;
}

.cont2 {
  height: auto;
  width:100%;
  margin-bottom:50px;
}
.cont3{
  height: auto;
  width:100%;
  margin-bottom: 50px;
}

.cont4 {
  height: auto;
  margin-bottom:10px;
  width:100%;
}

.cont5 {
  height: auto;
  margin-bottom:10px;
  width:100%;
}

.cont6 {
  height: auto;
  margin-bottom:10px;
  width:100%;
}

.cont7 {
  height: auto;
  margin-bottom:10px;
  width:100%;
}
.cont8 {
  height: auto;
  margin-bottom:10px;
  width:100%;
}

h1{
  font-size:4.4rem;
  color:#303030;
}
h2{
  font-size:2.25rem;
  color:#303030;
}

h4{
  font-size:2.25rem;
  color:#303030!important;
}

.showmore{
  text-decoration: underline;
  font-style: italic;
  font-size:1.125rem;
  color:#606060;
}

.pijlsm{
  font-size:13px!important;
}

.lookbookp{
  color:#606060;
  font-size:1.5rem;
  font-family: Georgia;
  font-style:italic;
}

.headtext{
  color:#606060;
  font-size:1.5rem;
  font-family:Georgia;
  font-style:italic;
}

.headtext2{
  color:#606060;
  font-size:1.125rem;
  font-family:Georgia;
  font-style:italic;
}

.navlogo{
  padding:9px;
  background-color:black;
  color:#fff!important;
}

.headbutton{
  border: 1px solid #959595;
  background-color: white;
  color: black;
  width: 230px;
  height: 60px;
  margin-top:67px;
}


//SEARCH FOR - EXPANDABLE
input {
  outline: none;

}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}


input[type=search] {
  background: white url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px black;
  padding: 9px 10px 9px 32px;
  width: 55px;


  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#demo-2 input[type=search]:hover {
  background-color: #fff;
}
#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}
hr{
  display:none;
}

/*** ADD EMAIL ****/

select.frecuency {
  border: none;
  font-style: italic;
  background-color: transparent;
  cursor: pointer;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform .35s ease-in;
  transition: -webkit-transform .35s ease-in;
  border-bottom: none;
}
select.frecuency:focus {
  outline: none;
  border-bottom: 5px solid #22313F;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: -webkit-transform .35s ease-in;
  transition: -webkit-transform .35s ease-in;
}

.input-group {
  margin: 20px auto;
  width: 50%;
  border:1px solid #959595;
}
input.btn.btn-lg {
  width: 100%;
  height: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button.btn {
  width: 40%;
  height: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color:#f68236;
  border:1px solid #e67429;
  color:#FFF;
}

button.btnadddocart {
  width: 190px;
  height: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color:#f68236;
  border:1px solid #e67429;
  color:#FFF;
}

button.send {
  width: 190px;
  height: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color:#f68236;
  border:1px solid #e67429;
  color:#FFF;
}

/** Carousel **/

#carouselExample{
  display:none;
}

/* Footer Menu */

footer ul{
  padding:0px;
}
footer ul li{
  list-style-type:none;
}
footer ul li a{
  text-decoration:none;
  font-size:0.75rem;
  color:#7c7c7c;
  display:block;
  padding:5px 0;
  text-align:center;
}

footer h3{
  font-size:0.9375rem;
  font-color:#303030;
  text-align: center;
}

footer .foterp{
  font-size:0.75rem;
  color:#7c7c7c;
  text-align:center;
}

footer .link-area{
  border-left:none;
}

.link-area .fa-li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #fff;
  list-style-type: none;
  margin: 5px;
  display: inline-block;
}

body > footer > div > div > div:nth-child(4) > div > img:nth-child(4){
  padding:11px;
  border:1px solid;
}
body > footer > div > div > div:nth-child(4) > div > img:nth-child(5){
  padding-top:10px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  border:1px solid;
}
body > footer > div > div > div:nth-child(4) > div > img:nth-child(6){
  padding:10px;
  border:1px solid;
}


/* Dropdown prices - Size - colour */

select{
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  height: 34px;
  border:none;
  border-bottom:1px solid black;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
  -webkit-appearance: none;
  background-position-x: 100%;
}

/*** MEDIA QUERIES  ***/

@media screen and (min-width: 576px) {
  /*code voor tablet en groter*/
}
@media screen and (min-width: 768px) {
  /*code voor tablet en groter*/
  hr{
    display:block;
    margin:0;
  }

  /** Carousel **/

  #carouselExample{
    display:block;
  }
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item
  {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

  /* Border footer show*/
 footer .link-area{
    border-left:1px solid #eaeaea;
    height: 100%
  }

  /* footer center when out of mobile */
  footer ul li a{
    text-align:left;
  }

  footer h3{
    text-align:left
  }

  footer .foterp{
    text-align:left;
  }

}

//STIJLIJNG DETAIL PRODUCT

.floralplim{
  font-size:2.25rem;
}

.artnumb{
  font-size:0.875rem;
  color:#a3a3a3;
}

.pricetag{
  color:#606060;
  font-size:1.125rem;
}

.descr{
  color:#606060;
}


.boxsize {
  border: 1px solid #959595;
  width: 30px;
  height: 30px;
}

.showmemore{
  background-color:#f1f1f1;
  height:45px;
}

.showmemoretext{
  color:#737373;
  text-transform: uppercase;
}

//STIJLIJNG VOOR SHOPPING BAG CUT

.shoppingbag{
  font-size:2.25rem;
  color:#303030;
}

.itemresev{
  font-style: italic;
  color:#606060;
  font-size:1.125rem;
}

.carttext{
  color:#aeaeae;
  font-size:0.75rem;
}

//ABOUT US

.abouth{
  color:#303030;
  font-size:2.25rem;
}

.abouth2{
  color:#303030;
  font-weight:500;
  font-size:1.5rem;
}

.aboutp{
  color:#606060;
  font-size:1.125rem;
  font-style: italic;
  font-family: Georgia;
}

.noprodp{
  color:#606060;
  font-size:0.875rem;
}

.spansearch{
  font-weight: 100;
}

.noprodspan{
  color:#f68236;
}

.labeladress{
  font-size:0.75rem;
  padding-left:1px;
}

.totalp{
  color:#606060;
  font-size:1.125rem;
  font-family: Georgia;
}
.totalpo{
  color:#f68236;
  font-size:1.125rem;

}
.totalitalic{
  font-style: italic;
}

.subtotal{
  color:#303030;
  font-size:0.875rem;
}

.subspan{
  color:#f68236;
}

.subtotalbg{
  background-color:#f9f9f9;
  height: 60px;
}

//Button + and -

.plus {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #000000;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  margin-left:5px;
}



@media screen and (min-width: 992px) {

  /*code voor beeldscherm en groter*/

  .cont1 {
    height: 655px;
    width:100%;
  }

  .cont2 {
    height: auto;
    width:100%;
  }


  .cont5 {
    height: 150px;
    width:100%;
  }



}


//TEST

